<% if @current_user %>
<h1><%= @place["name"] %></h1>

<p class="nav-item">
    <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Entry</a>
</p>

<div class="row">
<% for entry in @entries %>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h3><%= entry["title"] %></h3>
    <h6><%= entry["occurred_on"] %></h6>
    <% if entry.uploaded_image.attached? %>
      <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
    <% else %>
      <img src="<%= entry["image"] %>" class="img-fluid">
    <% end %>
    <h6><%= entry["description"] %></h6>
  </div>
  <% end %>
<p>
  <a href="/places">Back to All Places</a>
</p>



<% else %>
  You must first <a href="/login">login</a> to view entries.
<% end %>