<% if @current_user %>
<h1><%= @place["name"] %></h1>

<p class="nav-item">
    <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Entry</a>
</p>


<h2>My Entries</h2>
<% for entry in @entries %>
  <div class="col-sm-6 col-md-3">
  <h3><%= entry["title"] %></h3>
  <h4><%= entry["occurred_on"] %></h4>
  <% if entry.uploaded_image.attached? %>
    <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
  <% else %>
    <img src="<%= entry["image"] %>" class="img-fluid">
  <% end %>
  <h4><%= entry["description"] %></h4>

<% end %>






<p>
  <a href="/places">Back to All Places</a>
</p>



<% else %>
    <h2>You must login or signup.</h2>
    <p></p>
    <p><a href="/login" class="btn btn-success">Login</a></p>
    <p><a href="/users/new" class="btn btn-success">Signup</a></p>
<% end %>